<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-1">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><img src="favicon.ico" style="width:20px; height:20px;"> Voyado Sök</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
          
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/']">Sök</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/help']">Hjälp</a>
            </li> 
            <li class="nav item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/about']">Om</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
 </header>